<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #181717;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: hsl(0, 68%, 42%);
            text-align:center;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #fff;
        }

        a {
            color: #0066cc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>UFC Fights - Upcoming</h1>
    <ul>
        <% events.forEach(event => { %>
            <li>
                <h2><%= event.event_title %></h2>
                <p>Date: <%= event.event_date %></p>
                <p>Event: <a href="<%= 'https://ufc.com'+event.event_url %>"><%= event.event_type %></a></p>
                <p>Venue: <%= event.event_venue %></p>
                <p>Location: <%= event.event_location %></p>
                <p>All Fights: <%= event.event_all_fighters %></p>
                <!-- Add more details as needed -->
            </li>
        <% }); %>
    </ul>
</body>
</html>